@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Satisfy');

 body{
    font-family: 'Roboto Mono', monospace;
     color: #222;

}
.btn{
    background-color: #EDEDED;
    border: none;
    width: 40%;

}
.btn:hover{
    background-color: #D74C34;

}


/*NAVBAR*/

.navbar, .dropdown-item{
    text-transform: capitalize;
    font-weight: 100;
    font-size: .8rem;
    /*letter-spacing: .1rem;*/
    background: rgba(255,255,255,0.92)!important;
    padding: .9rem;
    height: 3.5rem;
    color: black;
}
.navbar img{
    width: 3.3%;
    margin-right: .3%;
}
.navbar-brand{
    font-family: 'Satisfy', serif;
    font-size: 2rem;
}
.navbar-nav li{
    padding-right: 20px;
}
.nav-link{
    font-size: 1.1em !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}
.nav-item:hover{
    color:#D74C34

}

/*LANDING*/

/*!*SLIDER*!*/
.carousel-inner img{
width: 100%;
height: 100%;
}


#carouselka{
float: left;
}

#ImgJumbo{
    margin-top: 4.05%;
    margin-bottom: 1.09%;

    background-color: #5C563B;
}
.Landing{
    display: inline-block;
    background-color: #5C563B;

}
.Landing img{
    float: left;
    width: 47%;

}

.FHQ{

   /*display: inline-block;*/
    float: right;
    margin-right: 6%;

    width: 100%;




}
.FHQ p{
    margin-bottom: 9.7%;
    text-align: left;
    color: #ECECEC;
    font-weight: 100;
    font-size: 13px;

}
.FHQ .btn{
    margin-bottom: 7%;
    color:#ECECEC;
    background-color: rgba(53,50,33, 0.5);
    border: none;
    width: 60%;
    font-size: 15px;
    font-family: 'Satisfy', serif;

}
.FHQ .btn:hover{
    background-color: rgba(53,50,33, 0.9);
}

/*WELCOME*/

.container-fluid h1, .titleHead{
    font-family: 'Satisfy', serif;
}

.padding{
    /*padding-bottom: 2rem;*/
    padding: 3%;
}
.welcome{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.welcome hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}



@media only screen and (max-width: 800px) {
    #ImgJumbo {
        display: none;
    }
    #Landing{
        margin-left: 2.5%;
    }
    .Landing{
        background-color: #D74C34;
    }
    .Landing img{
        width: 50%;
    }

}
@media only screen and (max-width: 576px){
    #ImgJumbo {
        display: none;
    }

    .Landing #img1{
        display: none;

    }
    .Landing img{
        width: 100%;
    }
    #Landing{
        background-color: #D74C34;
    }


}





/*---Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}


[class*="col-"] {
    padding: 1rem;
}

#text{
    /*background-color: #C08382;*/
    float:right;}


#welcome{
    display: inline-block;
}


/*Categories*/
#controlButtons{
    position: static;
    min-height: 170px;
}
#ByKitchenAmerican, #ByKitchenItalian, #ByPriceConservative, #ByPriceMedium, #ByPriceHigh, #ByPopularity, #ShowAll{
    cursor: pointer;
    color: white;
    border: none;

    /*margin-bottom: 1.5%;*/
    font-weight: 200;
    font-size: 100%;
    width: 80%;

}
#ByKitchenAmerican, #ByKitchenItalian{
    background-color: rgba(233,75,53, 0.9);
}

#ByPriceConservative, #ByPriceMedium, #ByPriceHigh {
    background-color:  rgba(122,158,109, 0.9);

}
#ByPopularity{
    background-color: rgba(41,136,155, 0.9);

}
#ShowAll{
    background-color: #ECEAEF;
    color: black;
}
#ShowAllMob{
    font-family:'Satisfy', serif;
    font-weight: bold;
    font-size: 30px;
    color: black;

}
#cdGallery{
    margin-top: 1%;
}
.card{
    width: 100%;
    text-align: center;

}
.card img{
width:100%;

}
.card-title{
    display: none;
}

/*three column section*/
#quizSect, #factsSect{
    margin-bottom: 10%;
}
#openQuiz{
    margin-top: 3%;
}


/*Coffee effect on us*/

#organism img{
    width: 100%;

}
#organism, .panel-body{
    margin-top: 4%;

}
#organism h1, p, .panel-body{
    margin-left: 3%;
    margin-bottom: 3%;
}
.fancy-collapse-panel .panel-default > .panel-heading {
    padding: 0;

}
.fancy-collapse-panel .panel-heading a {
    padding: 12px 35px 12px 15px;
    display: inline-block;
    width: 100%;
    background-color: #87A87B;
    color: #ffffff;
    position: relative;
    text-decoration: none;
}
.fancy-collapse-panel .panel-heading a:after {
    font-family: 'Roboto Mono', monospace;
    content: "\f147";
    position: absolute;
    right: 20px;
    font-size: 20px;
    font-weight: 400;
    top: 50%;
    line-height: 1;
    margin-top: -10px;
}

.fancy-collapse-panel .panel-heading a.collapsed:after {
    content: "\f196";
}

/*.row jumbotron{*/
    /*background-color: rgba(75,51,51, 0.2);*/
/*}*/

/*Gallery*/
#Gallery{
    margin-top:10%;
    margin-bottom: 2%;
    background-color: rgb(245,245,245);
    padding: 2%;

}

.d-block:hover{
    border: 5px solid rgba(41,136,155, 0.9);




}
#carouselExampleControls2 img{
    height: 85%;

}
#carouselExampleControls2{
    margin-top: 7%;

}

#galleryTitle, #infoTitle, #ConnectTitle{
    text-align: center;
   margin-top: 5%;
    font-weight: 200;
    font-size: 50px;
}
#Gallery h2{
    text-align: center;
    margin-top: 5%;
    letter-spacing: 5px;

}

footer h2, h3{
    font-weight: 100;
}
footer{
    background-color: rgba(92,86,59, 0.9);
    color: black;
    padding-top: 2rem;
}
hr.my-4{
    border-top: 1px  solid black;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;

}
footer a{
    color: black;
}
hr.my-4-1{
    border-top: 1px  solid black;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
.imgSocial{
    text-align: center;
    width: 2.5%;
    margin-right: 5%;
    margin-left: 5%;
}







/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/