@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Satisfy');

 body{
    font-family: 'Roboto Mono', monospace;
     color: #222;

}
#organism img{
    width: 100%;
}


/*.landing {*/
    /*position: relative;*/
    /*width: 100%;*/
    /*height: 100vh;*/
    /*display: table;*/
    /*z-index: -1;*/
/*}*/
/*.home-wrap {*/
    /*clip: rect(0, auto, auto, 0);*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/
/*.home-inner {*/
    /*position: fixed;*/
    /*display: table;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*-webkit-transform: translateZ(0);*/
    /*transform: translateZ(0);*/
    /*will-change: transform;*/
    /*background:url("../img/panel_wakeup_bg.jpg") no-repeat fixed center center;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
/*}*/
/*.caption{*/
    /*width: 100%;*/
    /*max-width: 100%;*/
    /*position: absolute;*/
    /*top: 38%;*/
    /*z-index: 1;*/
    /*color: darkred;*/

/*}*/
/*.caption  h2{*/
    /*font-size: 2rem;*/
    /*font-weight: 100;*/
    /*text-transform: uppercase;*/
    /*letter-spacing: .1rem;*/
    /*!*text-shadow: .1rem .1rem .8rem darkred;*!*/
    /*padding-bottom: 1rem;*/
    /*padding-top: 5rem;*/
/*}*/
/*.caption  h3{*/
    /*font-family: 'Satisfy', serif;*/
    /*text-transform: none;*/
    /*font-size: 1.5rem;*/
    /*padding-bottom: 1rem;*/
    /*padding-top: 5rem;*/
    /*!*text-shadow: .1rem .1rem .5rem darkred;*!*/

/*}*/
/*WELCOME*/

.container-fluid h1, .titleHead{
    font-family: 'Satisfy', serif;
}

/*NAVBAR*/

.navbar{
    text-transform: capitalize;
    font-weight: 100;
    font-size: .9rem;
    /*letter-spacing: .1rem;*/
    background: rgba(255,255,255,0.92)!important;
    padding: .9rem;
    height: 3.5rem;
    color: black;
}
.navbar-brand img{
    height: 3.5rem;
}
.navbar-brand{
    font-family: 'Satisfy', serif;
    font-size: 2rem;
}
.navbar-nav li{
    padding-right: 20px;
}
.nav-link{
    font-size: 1.1em !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color:yellow;
}


/*BOX*/
.top-container {
    display: grid;
    /*grid-gap: 20px;*/
    grid-gap: 5px;
    grid-template-areas:
            'showcase showcase top-box-a'
            'showcase showcase top-box-b';
}

/* Showcase */
.showcase {
    grid-area: showcase;
    min-height: 400px;
    grid-gap: 0;
    background: url(../img/photo-1527957557037-d079c24f24be.png)no-repeat center center;
    background-size: cover;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    /*box-shadow: var(--shadow);*/
}

.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    /*color: var(--light);*/
}

.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    grid-gap: 0;
    /*color: var(--light);*/
}

/* Top Box */
.top-container{
    margin-top: 5%;
}
.top-box {
    /*background: var(--primary);*/
    display: grid;
    align-items: center;
    justify-items: center;
    /*box-shadow: var(--shadow);*/
    padding: 1.5rem;
}

.top-box .price {
    font-size: 2.5rem;
}

.top-box-a {
    grid-area: top-box-a;
    background: url(../img/minimal-coffee-mug-mockup-psd.jpg)center;
    background-size: cover;
    grid-gap: 0;
}

.top-box-b {
    grid-area: top-box-b;
    grid-gap: 0;
    background: url(../img/cupofcofred.png) center;
    background-size: cover;


}

/* Boxes */
.boxes {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#box-1, #box-2, #box-3, #box-4 {
    /*background: var(--primary);*/
    text-align: center;
    padding: 1.5rem;
    /*box-shadow: var(--shadow);*/
}
#box-1{
    background: url(../img/box1.png) center;
    background-size: cover;
}
#box-2{
    background: url(../img/box2.png) center;
    background-size: cover;
}

#box-3{
    background: url(../img/box3.png) center;
    background-size: cover;
}

#box-4{
    background: url(../img/box4.png) center;
    background-size: cover;
}



/* Info */
.info {
    /*background: var(--primary);*/
    /*box-shadow: var(--shadow);*/
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}
/*/*/
/**/
/**/



/*!*SLIDER*!*/
/*.carousel-inner img{*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/


/*!*.jumbotron{*!*/
    /*!*padding: 1rem;*!*/
    /*!*border-radius: 0;*!*/
/*!*}*!*/
.padding{
    /*padding-bottom: 2rem;*/
    padding: 3%;
}
.welcome{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.welcome hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}



@media only screen and (max-width: 768px) {
    .hiddde {
        display: none;
    }
}



/*---Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}


/*---Firefox Bug Fix --*/
/*.carousel-item {*/
    /*transition: -webkit-transform 0.5s ease;*/
    /*transition: transform 0.5s ease;*/
    /*-webkit-backface-visibility: visible;*/
    /*backface-visibility: visible;*/

/*}*/



/*.fixed {*/
    /*background: url("../img/locations.jpg")no-repeat fixed center center;*/
    /*z-index: -1;*/
    /*position: fixed;*/
    /*display: block;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-size: cover;*/
    /*-webkit-transform: translateZ(0);*/
    /*transform: translateZ(0);*/
    /*will-change: transform;*/


/*}*/
/*h3.heading{*/
    /*font-size: 1.9rem;*/
    /*font-weight:700;*/
    /*text-transform: uppercase;*/
    /*margin-bottom: 1.9rem;*/
/*}*/

/*.heading-underline{*/
    /*width: 3rem;*/
    /*height: .2rem;*/
    /*background-color: #0ab6c1;*/
    /*margin:0 auto 2rem;*/
/*}*/
/*.dark{*/
    /*background-color: rgba(0,0,0,0.75);*/
    /*color: white;*/
    /*padding: 7rem 2rem;*/
/*}*/





/*.fixed-background {*/
    /*position: relative;*/
    /*width: 100%;*/
/*}*/
/*.fixed-background h3{*/

/*}*/
/*.fixed-background p{*/

/*}*/
/*.fixed-wrap {*/
    /*clip: rect(0, auto, auto, 0);*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*z-index: -999!important;*/
/*}*/


/*.figure {*/
    /*position: relative;*/
    /*width: 100%;*/
    /*height: 60%;*/
    /*margin: 0!important;*/
/*}*/
/*.fixed-wrap {*/
    /*clip: rect(0, auto, auto, 0);*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/
/*#fixed {*/
    /*background-image: url('../img/locations.jpg');*/
    /*position: fixed;*/
    /*display: block;*/
    /*top: 40px;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-size: cover;*/
    /*background-position: center center;*/
    /*-webkit-transform: translateZ(0);*/
    /*transform: translateZ(0);*/
    /*will-change: transform;*/
/*}*/


[class*="col-"] {
    padding: 1rem;
}

#text{
    /*background-color: #C08382;*/
    float:right;}
.card-img-top-1{
   width:90%;
    margin-left: 4%;
    margin-top: 2%;
}


/*#carouselka, #carouselkas{*/
    /*float: left;*/
/*}*/


#welcome{
    display: inline-block;
}
.card{
    margin-left: 3.5%;
    margin-bottom: 3%;

}

/*Categories*/
#ByKitchenAmerican, #ByKitchenItalian, #ByPriceConservative, #ByPriceMedium, #ByPriceHigh, #ByPopularity{
    cursor: pointer;
    color: white;
    border: none;
    margin-bottom: 1.5%;
}
#ByKitchenAmerican, #ByKitchenItalian{
    background-color: rgba(233,75,53, 0.9);
    width: 80%;

}

#ByPriceConservative, #ByPriceMedium, #ByPriceHigh {
    background-color:  rgba(122,158,109, 0.9);
    width: 90%;
}
#ByPopularity{
    background-color: rgba(41,136,155, 0.9);
    width: 80%;
}

#ShowAll{
    width: 70%;
    background-color: #ECEAEF;
    border: none;
}






/*Coffee effect on us*/
.fancy-collapse-panel .panel-default > .panel-heading {
    padding: 0;

}
.fancy-collapse-panel .panel-heading a {
    padding: 12px 35px 12px 15px;
    display: inline-block;
    width: 100%;
    background-color: #EE556C;
    color: #ffffff;
    position: relative;
    text-decoration: none;
}
.fancy-collapse-panel .panel-heading a:after {
    font-family: "FontAwesome";
    content: "\f147";
    position: absolute;
    right: 20px;
    font-size: 20px;
    font-weight: 400;
    top: 50%;
    line-height: 1;
    margin-top: -10px;
}

.fancy-collapse-panel .panel-heading a.collapsed:after {
    content: "\f196";
}

/*.row jumbotron{*/
    /*background-color: rgba(75,51,51, 0.2);*/
/*}*/
footer{
    background-color: #950014;
    color: white;
    padding-top: 2rem;
}
hr.light{
    border-top: 1px  solid white;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;

}
footer a{
    color: white;
}
hr.light-100{
    border-top: 1px  solid white;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
.imgSocial{
    text-align: center;
    width: 3%;
    margin-right: 10%;
    margin-left: 5%;
}

@media (max-width: 700px) {
    .top-container {
        grid-template-areas: 'showcase showcase' 'top-box-a top-box-b';
    }
}
@media (max-width: 500px) {
    .top-container {
        grid-template-areas: 'showcase' 'top-box-a' 'top-box-b';
    }
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/