@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Satisfy');
/*body{*/
    /*margin: 3%;*/

/*}*/
 body{

    font-family: 'Roboto Mono', monospace;
     color: #222;
}

.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    z-index: -1;
}
.home-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home-inner {
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    background:url("../img/panel_wakeup_bg.jpg") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: darkred;

}
/*.caption  h2{*/
    /*font-size: 2rem;*/
    /*font-weight: 100;*/
    /*text-transform: uppercase;*/
    /*letter-spacing: .1rem;*/
    /*!*text-shadow: .1rem .1rem .8rem darkred;*!*/
    /*padding-bottom: 1rem;*/
    /*padding-top: 5rem;*/
/*}*/
.caption  h3{
    font-family: 'Satisfy', serif;
    text-transform: none;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 5rem;
    /*text-shadow: .1rem .1rem .5rem darkred;*/

}
/*WELCOME*/

.container-fluid h1{
    font-family: 'Satisfy', serif;
}

/*NAVBAR*/

.navbar{
    text-transform: capitalize;
    font-weight: 300;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0,0,0,0.8)!important;
    padding: .8rem;
    height: 3.5rem;
}
.navbar-brand img{
    height: 3.5rem;
}
.navbar-brand{
    font-family: 'Satisfy', serif;
    font-size: 2rem;
}
.navbar-nav li{
    padding-right: 20px;
}
.nav-link{
    font-size: 1.1em !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color:#523434;
}

/*LANDING*/
/*.landing{*/
    /*height: 550px;*/
/*}*/






/*SLIDER*/
.carousel-inner img{
    width: 100%;
    height: 100%;
}


/*.jumbotron{*/
    /*padding: 1rem;*/
    /*border-radius: 0;*/
/*}*/
.padding{
    /*padding-bottom: 2rem;*/
    padding: 3%;
}
.welcome{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.welcome hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}



/*@media only screen and (max-width: 768px) {*/
    /*.hiddde {*/
        /*display: none;*/
    /*}*/
/*}*/



/*---Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}


/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;

}



.fixed {
    background: url("../img/locations.jpg")no-repeat fixed center center;
    z-index: -1;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;


}
h3.heading{
    font-size: 1.9rem;
    font-weight:700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}

.heading-underline{
    width: 3rem;
    height: .2rem;
    background-color: #0ab6c1;
    margin:0 auto 2rem;
}
/*.dark{*/
    /*background-color: rgba(0,0,0,0.75);*/
    /*color: white;*/
    /*padding: 7rem 2rem;*/
/*}*/


.fixed-background {
    position: relative;
    width: 100%;
}
.fixed-background h3{

}
.fixed-background p{

}
.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999!important;
}


/*--- Fixed Background Image --*/
/*.figure {*/
    /*position: relative;*/
    /*width: 100%;*/
    /*height: 60%;*/
    /*margin: 0!important;*/
/*}*/
/*.fixed-wrap {*/
    /*clip: rect(0, auto, auto, 0);*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/
/*#fixed {*/
    /*background-image: url('../img/background6.jpg');*/
    /*position: fixed;*/
    /*display: block;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-size: cover;*/
    /*background-position: center center;*/
    /*-webkit-transform: translateZ(0);*/
    /*transform: translateZ(0);*/
    /*will-change: transform;*/
/*}*/
/*--- Bootstrap Padding Fix --*/
/*[class*="col-"] {*/
    /*padding: 1rem;*/
/*}*/

#text{
    /*background-color: #C08382;*/
    float:right;}
.card-img-top-1{
   width:90%;
    margin-left: 4%;
    margin-top: 2%;
}


/*#carouselka, #carouselkas{*/
    /*float: left;*/
/*}*/


#welcome{
    display: inline-block;
}
.card{
    margin-left: 3.5%;
    margin-bottom: 3%;

}
/*.row jumbotron{*/
    /*background-color: rgba(75,51,51, 0.2);*/
/*}*/
footer{
    background-color: #523434;
    color: white;
    padding-top: 2rem;
}
hr.light{
    border-top: 1px  solid white;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;

}
footer a{
    color: white;
}
hr.light-100{
    border-top: 1px  solid white;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
.imgSocial{
    text-align: center;
    width: 3%;
    margin-right: 10%;
    margin-left: 5%;
}
.funHistText{
    visibility: hidden;

}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/