@import url(https://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic);
/*font-family: 'Marck Script', cursive;*/
@font-face {
	font-family: latobold;
	src: url(fonts/Lato-Bold.ttf), url(fonts/Lato-Bold.eot), url(fonts/Lato-Bold.woff);
}

#Footer .footer_copy .copyright {
  width: 50%!important;margin-bottom: 5px!important;
  float: left!important;
}

@media only screen and (max-width: 500px) {
#Footer .footer_copy .copyright {
  width: 100%!important;    margin-bottom: 20px!important;
  float: none!important;
}
}

.button-stroke a.button, .button-stroke a.tp-button, .button-stroke button, .button-stroke input[type="submit"], .button-stroke input[type="reset"], .button-stroke input[type="button"] {
  font-style: inherit!important;
  font-family: roboto!important;
}

#Filters {display:none;}

.button-stroke a:hover.button, .button-stroke a:hover.tp-button {
  color: initial!important;
}

.post-nav {display:none;}

table th:first-child, table td:first-child {
  border-width: 0 0 0px;
}

.header-split #Action_bar a {
	color: #E8E8E8!important;
}
#Action_bar .contact_details li > i {
	color: #E8E8E8!important;
}

@media only screen and (max-width: 767px)
{
.header-split #Action_bar a {
	color: #8E4A36!important;
}
#Action_bar .contact_details li > i {
	color: #8E4A36!important;
}
}
@media only screen and (min-width: 1240px) {
body:not(.template-slider) #Header {margin-bottom: 90px;}
body.home #Header {margin-bottom: 0!important;}
}


